<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Zhoes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
    <ion-col size-md="12"><img src="assets/air jordan 1.webp">1</ion-col>
    <ion-col size-md="12"><img src="assets/NIKE TERMINATOR.webp">2</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="12"><img src="assets/stay loyal 2.webp">3</ion-col>
      <ion-col size-md="12"><img src="assets/air jordan 1.webp">4</ion-col>

    </ion-row>
  </ion-grid>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">pagina2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-content>
    <ion-item><img src="assets/deus.jpg"></ion-item>
    <ion-button size="default" [routerLink] = "['/pagina1']">Pagina1</ion-button>
    </ion-card-content>
    
  </ion-card>
</ion-content>
