<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="logo-title" [routerLink] = "['/principal']"><img src="assets/logitooo.png" alt="Logo" class="logo-image"></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="profile-card">
  
    <ion-card-content *ngFor="let usuario of arregloUsuario">
      <ion-avatar class="profile-avatar">
        <img src="{{ usuario.fotoperfil }}" alt="Avatar">
      </ion-avatar>
  
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input readonly placeholder="{{ usuario.nombreusuario }}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Apellido</ion-label>
        <ion-input readonly placeholder="{{ usuario.apellidousuario }}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Fecha de Nacimiento</ion-label>
        <ion-input readonly placeholder="{{ usuario.fnacimiento }}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Teléfono</ion-label>
        <ion-input readonly placeholder="{{ usuario.telefono }}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Correo</ion-label>
        <ion-input readonly placeholder="{{ usuario.correo }}"></ion-input>
      </ion-item>
      <ion-button expand="full">Modificar Perfil</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

