<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Zapatillas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Zapatillas</ion-title>
    </ion-toolbar>
  </ion-header>

  <h2 class="ion-text-center">Listado de Zapatillas disponibles!</h2>

  <ion-searchbar placeholder="Buscar Zapatillas" ></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let x of arregloZapatillas">
      <ion-label>
        <ion-img [src]="x.foto"></ion-img>
        <h2>{{ x.nombreproducto }}</h2>
        <p>Descripcion: {{ x.descripcion }}</p>
        <p>Precio: {{ x.precio }}</p>
        <p>Stock : {{ x.stock }}</p>
        <p>Categoria: {{ x.idcategoria }}</p>
        <ion-button expand="full" color="primary" (click)="modificar(x)">Modificar</ion-button>
        <ion-button expand="full" color="danger" (click)="eliminar(x)">Eliminar</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>