<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="logo-title" [routerLink] = "['/principal']"><img src="assets/logitooo.png" alt="Logo" class="logo-image"></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card>
    <ion-card-header>
      Creación de Cuenta
    </ion-card-header>
    
    <ion-card-content>
      <ion-item>
        <ion-input label="rut: ( presione dos veces)" type="text" label-placement="floating" fill="outline" placeholder="11.111.111-1" name="rut" required [(ngModel)]="rut" (keydown)="valiRut($event)" inputmode="decimal"></ion-input>  
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input required  name="nombre" type="text" placeholder="Nombre"  [(ngModel)]="nombre" ></ion-input>
        <div *ngIf="mensajeErrorNombre" class="error-message">
          {{ mensajeErrorNombre }}
        </div>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Apellido</ion-label>
        <ion-input required  name="apellido" type="text" placeholder="Apellido" [(ngModel)]="apellido"></ion-input>
        <div *ngIf="mensajeErrorApellido" class="error-message">
          {{ mensajeErrorApellido }}
        </div>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Fecha de nacimiento</ion-label>
        <ion-input required  name="nombre" type="date" placeholder="Fecha de nacimiento"  [(ngModel)]="fnacimiento" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Teléfono</ion-label>
        <ion-input required  name="nombre" type="text" placeholder="Teléfono"  [(ngModel)]="telefono" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-button (click)="takePicture()">Foto de perfil</ion-button>
        <img *ngIf="imageSource" [src]="imageSource" alt="image" style="width: 100%;max-width: 250px;"  [(ngModel)]="fotoperfil">
      </ion-item>
     
      <ion-item>
        <ion-label position="stacked">Correo</ion-label>
        <ion-input required  name="nombre" type="text" placeholder="Correo"  [(ngModel)]="correo" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Clave</ion-label>
        <ion-input required  name="apellido" type="password" placeholder="Clave" [(ngModel)]="clave"></ion-input>
      </ion-item>
      <div *ngIf="errores.length > 0" class="error-messages">
        <ul>
          <li *ngFor="let error of errores">{{ error }}</li>
        </ul>
      </div>
      
      <ion-item>
        <ion-label position="stacked"> Repetir Clave</ion-label>
        <ion-input required  name="apellido" type="password" placeholder="Repetir clave" [(ngModel)]="clave2"></ion-input>
        <div *ngIf="mensajeErrorContra2" class="error-message">
          {{ mensajeErrorContra2 }}
        </div>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Pregunta de seguridad</ion-label>
        <ion-select required  [(ngModel)]="pregunta">
          <ion-select-option value="¿Tienes mascotas?">¿Tienes mascotas?</ion-select-option>
          <ion-select-option value="¿Tienes hermanos?">¿Tienes hermanos?</ion-select-option>
          <ion-select-option value="¿Tienes pareja?">¿Tienes pareja?</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" required>Respuesta de seguridad</ion-label>
        <ion-input required  name="respuesta" type="text" [(ngModel)]="respuesta"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked"> Recibir notificaciones</ion-label>
        <mat-slide-toggle>Activame!</mat-slide-toggle>
      </ion-item>
      <ion-button expand="full"  (click)="crear()">Crear Cuenta</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
