<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="center-title" [routerLink] = "['/principal']">Zhoes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card>
    <ion-card-header>
      Creación de Cuenta
    </ion-card-header>
    
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input name="nombre" type="text" placeholder="Nombre"  [(ngModel)]="nombre" ></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Apellido</ion-label>
        <ion-input name="apellido" type="text" placeholder="Apellido" [(ngModel)]="apellido"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Clave</ion-label>
        <ion-input name="apellido" type="password" placeholder="Clave" [(ngModel)]="clave"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Fecha de Nacimiento</ion-label>
        <ion-input name="fechaNac" type="date" required></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked" required >Género</ion-label>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1">Masculino</mat-radio-button>
          <mat-radio-button value="2">Femenino</mat-radio-button>
          <mat-radio-button value="2">Otro</mat-radio-button>
        </mat-radio-group>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked" required>Dirección</ion-label>
        <ion-input name="direccion" type="text" [(ngModel)]="direccion"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" required>Pregunta de seguridad</ion-label>
        <ion-input name="pregunta" type="text" [(ngModel)]="pregunta"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" required>Respuesta de seguridad</ion-label>
        <ion-input name="respuesta" type="text" [(ngModel)]="respuesta"></ion-input>
      </ion-item>
      
      <ion-button expand="full"  (click)="crear()">Crear Cuenta</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
