.center-title {
    margin: 0 auto;
  }

  .icono-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .icono-ajustado {
    margin-right: 20px; /* Ajusta la cantidad de margen según tu preferencia */
  }