<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title class="logo-title" [routerLink] = "['/principal']"><img src="assets/logitooo.png" alt="Logo" class="logo-image"></ion-title>
    <div class="icono-container" slot="end">
      <ion-icon size="large" name="bag-outline" class="icono-ajustado" [routerLink] = "['/carrito']"></ion-icon>
      <ion-icon size="large" name="time-outline" class="icono-ajustado" [routerLink] = "['/historial-compra']"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Principal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-searchbar animated="true" placeholder="Buscar"></ion-searchbar>
  <h1 style="text-align: center;">Podria interesarte</h1>

  <swiper-container>
    <swiper-slide><img src="assets/NIKE TERMINATOR.webp" [routerLink] = "['/productos']"> <p>Nike Terminator High</p></swiper-slide>
    <swiper-slide><img src="assets/nike air force 1.webp" [routerLink] = "['/productos']"><p>Nike Air Force 1</p></swiper-slide>
    <swiper-slide><img src="assets/nike run swift 3.webp" [routerLink] = "['/productos']"><p>Nike Run Swift 3</p></swiper-slide>
  </swiper-container>
  <a [routerLink] = "['/productos']" class="clickable-image">
    <img src="/assets/banner_publicitario.png" class="adjustable-image">
    <button class="buy-button">Comprar</button>
  </a>

  <h1 style="text-align: center;"> Más Vendidos</h1>
  <swiper-container>
    <swiper-slide><img src="assets/Nike Dunk Low Retro.webp" [routerLink] = "['/productos']"> 
      <p>Nike Dunk Low Retro</p>
      <ion-fab>
        <ion-fab-button size="small">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="end">
          <ion-fab-button>
            <ion-icon name="bag-add-outline"></ion-icon>
          </ion-fab-button>
          <ion-fab-button>
            <ion-icon name="heart-circle-outline"></ion-icon>
          </ion-fab-button>
          <ion-fab-button>
            <ion-icon name="share-social-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </swiper-slide>
    <swiper-slide><img src="assets/Nike Air Adjust Force 2023.webp" [routerLink] = "['/productos']">
      <p>Nike Air Adjust Force 2023</p>
      <ion-fab>
        <ion-fab-button size="small">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="end">
          <ion-fab-button>
            <ion-icon name="bag-add-outline"></ion-icon>
          </ion-fab-button>
          <ion-fab-button>
            <ion-icon name="heart-circle-outline"></ion-icon>
          </ion-fab-button>
          <ion-fab-button>
            <ion-icon name="share-social-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </swiper-slide>
    <swiper-slide><img src="assets/Nike Dunk Hi retro Premiun.webp" [routerLink] = "['/productos']">
      <p>Nike Dunk Hi retro Premiun</p>
      <ion-fab>
        <ion-fab-button size="small">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="end">
          <ion-fab-button>
            <ion-icon name="bag-add-outline"></ion-icon>
          </ion-fab-button>
          <ion-fab-button>
            <ion-icon name="heart-circle-outline"></ion-icon>
          </ion-fab-button>
          <ion-fab-button>
            <ion-icon name="share-social-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </swiper-slide>
  </swiper-container>

  <div class="notification-box">
    <h2 class="notification-text">¿Quieres recibir ofertas?, Activa nuestras notificaciones!</h2>
    <ion-list>
      <ion-item>
        <ion-input labelPlacement="floating" placeholder=" Ejemplo:hi@ionic.io">
          <div slot="label">Email <ion-text color="danger">(Required)</ion-text></div>
        </ion-input>
      </ion-item>
    </ion-list>
  </div>
  <div>
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Tasas de Cambio
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-list *ngIf="tasasDeCambio">
      <ion-item *ngFor="let tasa of tasasDeCambio">
        <ion-label>{{ tasa[0] }}</ion-label>
        <ion-note slot="end">{{ tasa[1] }}</ion-note>
      </ion-item>
    </ion-list>
  
    <ion-button (click)="obtenerTasas('USD')">Obtener Tasas</ion-button>
</div>
  
  <ion-footer class="footer">
    <ion-list class="footer-list">
      <ion-item lines="none">
        <ion-icon name="logo-instagram" slot="start"></ion-icon>
        <ion-label>Instagram</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="logo-twitter" slot="start"></ion-icon>
        <ion-label>Twitter</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="help" slot="start"></ion-icon>
        <ion-label>Ayuda</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="information-circle" slot="start"></ion-icon>
        <ion-label>Acerca de</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="location" slot="start"></ion-icon>
        <ion-label>Ubicación</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="shield-checkmark" slot="start"></ion-icon>
        <ion-label>Política de privacidad</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="book" slot="start"></ion-icon>
        <ion-label>Términos y condiciones</ion-label>
      </ion-item>
    </ion-list>
  </ion-footer>
  
  

  


</ion-content>

