<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="center-title" [routerLink]="['/principal']">Zhoes</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">menu_eliminar</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <h1 style="text-align: center;">Menú De Eliminar</h1>
  <ion-row>

    <ion-col size="6">
      <ion-card>
        <img src="assets/air jordan 1.webp" alt="Imagen 1">
        <h1 style="text-align: center;">Nike Air Force 1</h1>
        <ion-button expand="block" id="present-alert">Eliminar</ion-button>
        <ion-alert trigger="present-alert" class="custom-alert" header="¿Esta seguro de eliminar este producto?"
          [buttons]="alertButtons"></ion-alert>
      </ion-card>
    </ion-col>


    <ion-col size="6">
      <ion-card>
        <img src="assets/retro_1.webp" alt="Imagen 2">
        <h1 style="text-align: center;">Air Jordan 4 Retro</h1>
        <ion-button expand="block" id="present-alert">Eliminar</ion-button>
        <ion-alert trigger="present-alert" class="custom-alert" header="¿Esta seguro de eliminar este producto?"
          [buttons]="alertButtons"></ion-alert>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>