<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agregar Noticia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Agregar Zapatillas</ion-title>
    </ion-toolbar>
  </ion-header>

  <h2 class="ion-text-center">Zapatillas a Agregar</h2>
  <ion-item>
    <ion-label position="floating">Nombre producto</ion-label>
    <ion-input type="text" [(ngModel)]="nombreProducto"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">descripcion producto</ion-label>
    <ion-input type="text" [(ngModel)]="descripcionProducto" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Precio Producto</ion-label>
    <ion-input type="text" [(ngModel)]="precioProducto" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Stock producto</ion-label>
    <ion-input type="text" [(ngModel)]="stockProducto" ></ion-input>
  </ion-item>

  <ion-button shape="block" (click)="insertar()">Guardar Cambio</ion-button>
</ion-content>
