<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agregar Noticia</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Agregar Zapatillas</ion-title>
    </ion-toolbar>
  </ion-header>

  <h2 class="ion-text-center">!Agrega una Zapatilla!</h2>
  <ion-item>
    <ion-label position="floating">Nombre producto</ion-label>
    <ion-input type="text" [(ngModel)]="nombreProductos"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">descripcion producto</ion-label>
    <ion-input type="text" [(ngModel)]="descripcionProducto" ></ion-input>
  </ion-item>

  <ion-button shape="block" (click)="insertar()">Guardar Cambio</ion-button>
</ion-content>
