<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="logo-title" [routerLink] = "['/home']"><img src="assets/logitooo.png" alt="Logo" class="logo-image"></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recuperar Contraseña </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      Recuperación de Contraseña
    </ion-card-header>
    
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Correo Electrónico</ion-label>
        <ion-input type="email" placeholder="Correo Electrónico" [(ngModel)]="correo" required></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Pregunta de Seguridad</ion-label>
        <ion-select required  [(ngModel)]="pregunta">
          <ion-select-option value="¿Tienes mascotas?">¿Tienes mascotas?</ion-select-option>
          <ion-select-option value="¿Tienes hermanos?">¿Tienes hermanos?</ion-select-option>
          <ion-select-option value="¿Tienes pareja?">¿Tienes pareja?</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Respuesta de Seguridad</ion-label>
        <ion-input type="text" placeholder="Respuesta de Seguridad" [(ngModel)]="respuesta" required></ion-input>
      </ion-item>
      
      <ion-button (click)="buscarCorreoYPregunta()" expand="full" type="submit">Recuperar Cuenta</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
