<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="center-title" [routerLink]="['/principal']">Zhoes</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Editar Producto</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <h1 style="text-align: center;">Menú De Edición</h1>

  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <ion-row>
        <ion-col size="6">
          <img src="assets/retro_2.webp" alt="Imagen 1">
          <ion-button color="medium" (click)="cambiarImagen(1)">Cambiar Imagen</ion-button>
        </ion-col>
        <ion-col size="6">
          <img src="assets/retro_3.webp" alt="Imagen 1">
          <ion-button color="medium" (click)="cambiarImagen(2)">Cambiar Imagen</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <img src="assets/retro_4.webp" alt="Imagen 1">
          <ion-button color="medium" (click)="cambiarImagen(3)">Cambiar Imagen</ion-button>
        </ion-col>
        <ion-col size="6">
          <img src="assets/retro_5.webp" alt="Imagen 1">
          <ion-button color="medium" (click)="cambiarImagen(4)">Cambiar Imagen</ion-button>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col size="12">
      <ion-list>
        <ion-item>
          <ion-input maxlength="30" label="Nombre:" placeholder="Air Jordan 4 Retro"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Precio:" type="number" placeholder="100.000"></ion-input>
        </ion-item>
      </ion-list>

      <ion-item>
        <ion-input [counter]="true" maxlength="200" label="Descripcion:"></ion-input>
      </ion-item>
    </ion-col>
    <br>
    <ion-button color="medium" expand="block" id="present-alert">Editar</ion-button>
    <ion-alert trigger="present-alert" header="Desea Editar este producto" [buttons]="alertButtons"></ion-alert>
    <p>{{ handlerMessage }}</p>
    <p>{{ roleMessage }}</p>
    