<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="logo-title" [routerLink]="['/principal']"><img src="assets/logitooo.png" alt="Logo" class="logo-image"></ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="(historialCompras$ | async) as historialCompras;">
    <ion-list *ngIf="historialCompras.length > 0">
      <ion-item *ngFor="let compra of historialCompras" class="historial-item">
        <ion-img [src]="compra.fotoprodc" class="historial-image"></ion-img>
        <div class="historial-details">
          <h2 class="historial-product-name">{{ compra.nombreprodc }}</h2>
          <p class="historial-cantidad">Cantidad: {{ compra.cantidadc }}</p>
          <p class="historial-subtotal">Costo: {{ compra.subtotalc }}</p> <!-- Mostrar costo en lugar de subtotal -->
        </div>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>

<ng-template #emptyHistorial>
  <!-- Contenido que se muestra cuando no hay historial de compras -->
  <ion-list>
    <div class="empty-historial-message">
      No hay historial de compras.
    </div>
  </ion-list>
</ng-template>

