<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="logo-title" [routerLink]="['/principal']"><img src="assets/logitooo.png" alt="Logo" class="logo-image"></ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Carrito</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="detallesVenta.length > 0">
    <ion-item *ngFor="let detalle of detallesVenta">
      {{ detalle.cantidad }} x {{ detalle.detalle }}
    </ion-item>
  </ion-list>
  
  <div *ngIf="detallesVenta.length > 0 && (informacionVenta | async) as venta">
    <div>Fecha de Venta: {{ detallesVenta[0].fventa }}</div>
    <div>Total: {{ detallesVenta[0].total }}</div>
    <!-- Otros campos de la venta que quieras mostrar -->
  </div>
  
  <div *ngIf="detallesVenta.length === 0 && !(informacionVenta | async)">
    No hay detalles de la venta.
  </div>
  
  <ion-button expand="block" color="medium" [routerLink]="['/principal']">Comprar</ion-button>

</ion-content>