<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="logo-title" [routerLink]="['/principal']"><img src="assets/logitooo.png" alt="Logo" class="logo-image"></ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Carrito</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <h1>Pruebaaaa</h1>
    <ion-item *ngFor="let x of detalle" class="product-card">
      <ion-label class="product-info">
        <h2 class="product-name"> Prueba: {{ x.cantidad }}</h2>
        <p class="product-description">Descripción: {{ x.detalle }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  
  <ion-button expand="block" color="medium" [routerLink]="['/principal']">Comprar</ion-button>

</ion-content>