<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="logo-title" [routerLink] = "['/principal']"><img src="assets/logitooo.png" alt="Logo" class="logo-image"></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="profile-card">
    <ion-card-content>
      <ion-item>
        <ion-button (click)="takePicture()">Foto de perfil</ion-button>
        <img *ngIf="imageSource" [src]="imageSource" alt="image" style="width: 100%;max-width: 250px;" [(ngModel)]="imageSource">
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Nombre de usuario</ion-label>
        <ion-input required type="text" [(ngModel)]="nuevoNombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Apellido</ion-label>
        <ion-input required type="text"  [(ngModel)]="nuevoapellido"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Fecha de Nacimiento</ion-label>
        <ion-input required type="date"  [(ngModel)]="fechanacimiento"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Teléfono</ion-label>
        <ion-input required type="number"  [(ngModel)]="nuevotelefono"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Correo</ion-label>
        <ion-input required type="text" [(ngModel)]="nuevoEmail"></ion-input>
      </ion-item>
      <ion-button expand="full" color="danger" (click)="modificar()">Modificar Perfil</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

