<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="logo-title" [routerLink]="['/menu-admin']"><img src="assets/logitooo.png" alt="Logo" class="logo-image"></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Usuarios</ion-title>
    </ion-toolbar>
  </ion-header>

  <h2 class="ion-text-center">Listado de Usuarios!</h2>

  <ion-searchbar placeholder="Buscar Usuarios" ></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let x of arregloUsuario" class="product-card">
      <div class="product-image">
        <ion-img [src]="x.fotoperfil"></ion-img>
      </div>
      <div class="product-info">
        <p class="product-price">Rut: {{ x.rut }}</p>
        <p class="product-name">Nombre: {{ x.nombreusuario }}<p>
        <p class="product-description">Apellido: {{ x.apellidousuario }}</p>
        <p class="product-stock">Fecha de nacimiento: {{ x.fnacimiento | date:'dd/MM/yyyy' }}</p>
        <p class="product-category">Teléfono: {{ x.telefono }}</p>
        <p class="product-category">Pregunta de seguridad: {{ x.idpregunta }}</p>
        <p class="product-category">Respuesta de seguridad: {{ x.respuesta }}</p>
        <p class="product-category">Rol del usuario: {{ x.idrol }}</p>
        <ion-button expand="full" color="danger" (click)="eliminar(x)">Eliminar</ion-button>
      </div>
    </ion-item>
  </ion-list>
  
</ion-content>

