<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Zhoes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col size="12">
        <ion-card class="login-card">
          <ion-card-header>
            <ion-card-title>Iniciar Sesión</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-item>
              <ion-label  position="floating">Usuario</ion-label>
              <ion-input type="text" name="username"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input type="password" name="password"></ion-input>
            </ion-item>
            <mat-checkbox class="example-margin">Recordarme</mat-checkbox>
            <a mat-flat-button [routerLink] = "['/crear-cuenta']">Crear cuenta</a>
            <a mat-flat-button [routerLink] = "['/recuperar-contra']">¿Olvido su contraseña?</a>

            <ion-button expand="full" (click)="inicioSesion()" class="custom-button">Iniciar Sesión</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


